@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,
html{
    background-image: url('../../assets/home/background-home-desktop.jpg');
    font-family: inherit;
}

:root{
    font-family: 'Barlow Condensed', sans-serif;
}


#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2.5rem;
    height: 10%;
}

.links{
    display:flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.05);
    min-width: 40%;
    backdrop-filter: blur(50px);
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.links a{
    color: #FFFFFF;
    text-decoration: none;
}

.logo{
    margin-right: auto;
    margin-left: 3.438rem;
}

.bold-number{
    font-weight: bold;
}

.dash{
    position: relative;
    border: 1px solid #979797;
    width: 29.5625rem;
    left: 2.5rem;
    z-index: 1000;
}